// -------------------------------------
//             MIXINS PARTIAL
// -------------------------------------

// ----------- MEDIA QUERIES -----------


@mixin sm {
  @media (min-width: #{$media-screen-sm}) {
      @content;
  }
}

@mixin med {
  @media (min-width: #{$media-screen-med}) {
     @content;
  }
}

@mixin lg {
  @media (min-width: #{$media-screen-lg}) {
     @content;
  }
}

// ---------- FLEXBOX SETTINGS ---------

@mixin grid-row {
  max-width: $max-width;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  @for $i from 1 through $column-count {

    .grid__col--#{$i} {
      width: (percentage($i / $column-count) - $gutter-width);
      margin: 0 ($gutter-width / 2);
      display: flex;
      justify-content: center;
    }
  }
}





