// -------------------------------------
//        NAV ITEMS PLACEHOLDER
// -------------------------------------

%nav__item--link {
  text-decoration: none;
  color: $grey-dark;
  display: block;
  padding: em(15px);
  text-align: center;
  &:hover {
    @extend %corner-radius;
    color: $btn-text-color;
    background: $nav-btn-color;
  }
}