// -------------------------------------
//           VARIABLES PARTIAL
// -------------------------------------


// ---------------- FONTS --------------

$font-stack: 'Helvetica Neue', Helvetica, sans-serif;

$font-weight-light   : 100;
$font-weight-regular : 300;
$font-weight-bold    : 600;


// ------------- BREAKPOINTS -----------

$media-screen-sm   : 480px;
$media-screen-med  : 769px;
$media-screen-lg   : 1200px;


// --------------- COLORS --------------

$cyan        : #64ddfb;
$mint        : #6ee2c1;
$evergreen   : #66cc82;
$flamingo    : #e47479;
$pumpkin     : #ed7553;
$violet      : #927bc1;

$cyan-light      : lighten(#64ddfb, 10%);
$mint-light      : lighten(#6ee2c1, 10%);
$evergreen-light : lighten(#66cc82, 10%);
$flamingo-light  : lighten(#e47479, 10%);
$pumpkin-light   : lighten(#ed7553, 10%);
$violet-light    : lighten(#927bc1, 20%);

$cyan-dark       : darken(#64ddfb, 30%);
$mint-dark       : darken(#6ee2c1, 10%);
$evergreen-dark  : darken(#66cc82, 10%);
$flamingo-dark   : darken(#e47479, 10%);
$pumpkin-dark    : darken(#ed7553, 10%);
$violet-dark     : darken(#927bc1, 10%);

$grey-light      : #808080;
$grey-dark       : #5a5a5a;
$white           : #fff;



$font-color           : $grey-light;
$font-nav-color       : $grey-dark;
$font-grid-color      : $grey-light;

$primary-hdln-color   : $mint;
$secondary-hdln-color : $grey-dark;

$link-color           : $cyan;

$nav-btn-color        : $mint;
$default-btn-color    : $cyan;
$success-btn-color    : $evergreen;
$error-btn-color      : $flamingo;
$warning-btn-color    : $pumpkin;
$info-btn-color       : $violet;

$btn-text-color       : $white;

$blockquote-bdr-color : $mint;
$form-bdr-color       : $mint;
$img-bdr-color        : $grey-light;

$grid-col-3-color     : $violet-light;
$grid-col-4-color     : $cyan-light;
$grid-col-5-color     : $evergreen-light;
$grid-col-6-color     : $cyan-dark;
$grid-col-7-color     : $flamingo-light;
$grid-col-8-color     : $pumpkin-light;
$grid-col-12-color    : $mint-light;



// ---------------- GRID ----------------

$max-width           : 1050px;
$gutter-width        : 2%;
$column-count        : 12;






