// -------------------------------------
//                  FORMS
// -------------------------------------

.form__label--hidden {
  display: none;
}

.form__input {
  width: 100%;
  padding: em(10px);
  margin: em(20px) 0;
  border: none;
  border-bottom: em(5px) solid $form-bdr-color;
}