// -------------------------------------
//                  FORMS
// -------------------------------------

.form__label--hidden {
  display: none;
}

.form__input {
  width: 90%;
  padding: em(10px);
  margin: em(18px) 5%;
  border: none;
  border-bottom: em(5px) solid $form-bdr-color;
}

.form .btn--default {
  width: 100%;
  margin: 0;
}