// -------------------------------------
//              IMAGES
// -------------------------------------

.img--logo {
  margin: 0 auto;
  margin-bottom: em(30px);
  display: block;

  @include med {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.img--frame {
  @extend %image-width;
  padding: em(10px);
  margin: em(20px) 0;
  border: 1px solid $img-bdr-color;
}

.img--avatar {
  margin: 0 auto;
  display: block;
}