// -------------------------------------
//               NAVIGATION
// -------------------------------------

.nav {
  @include med {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.nav__item a {
  @extend %nav__item--link;
}