// -------------------------------------
//              TYPOGRAPHY
// -------------------------------------

.container {
  font-family: $font-stack;
  color: $grey;
  margin: 50px;
}

.form__input[placeholder] {
  font-family: $font-stack;
}

.headline--primary,
.headline--secondary {
  font-weight: $font-weight-bold;
}

.blockquote {
  font-weight: $font-weight-regular;
  font-size: em(16px);
}