// -------------------------------------
//              TYPOGRAPHY
// -------------------------------------

.container {
  font-family: $font-stack;
  color: $font-color;
  margin: 50px;
}

.form__input[placeholder] {
  font-family: $font-stack;
}

.headline--primary {
  font-weight: $font-weight-bold;
  margin-left: 20px;
}

.headline--secondary {
  font-size: em(18px);
  font-weight: $font-weight-light;
}

.blockquote {
  font-weight: $font-weight-light;
  font-size: em(26px);
  font-style: italic;
  padding-left: em(10px);
  border-left: em(5px) solid $blockquote-bdr-color;
  border-radius: em(3px) em(3px);
}